body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-weight: bolder;
    
  }
  
  header {
    background-color: #003366;
    color: #fff;
    padding: 1em 0;
    text-align: center;
  }
  
  main {
    margin: 20px;
    padding: 20px;
    background-color:white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  
  }
  
  #application-form, #download-letter {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #003366;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  
  }
  
  input[type ="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #003366;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #002244;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #003366;
    color: #fff;
  }